body, input, select, textarea, p, a, article {
	color: #4d4d4d;
	font-family: 'Noto Sans', Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 400;
	line-height: 1.5em;
}

p {
	text-align: justify;
}

body {
	overflow-y: scroll;
}

h3 {
	color: #6699CC;
}

hr {
	border-top: 1px solid #8c8b8b;
	text-align: center;
	margin-left: 11%;
	margin-right: 11%;
}
hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #ffffff;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

#banner {
	text-align: center;
	background-image: url("bg-1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: #6d6d6d;*/
	/*background: #3D7EAA;
	background: -webkit-linear-gradient(to left, #3D7EAA , #FFE47A); 
	background: linear-gradient(to left, #3D7EAA , #FFE47A); */
	/*border-radius: 15px;*/
	padding: 8em 8em;
	margin-top: 1em;
	margin-left: 9%;
	margin-right: 9%;
	box-shadow: 15px 15px 30px 0 white inset, -15px -15px 30px 0 white inset; 
}

#main {
	margin-left: 9%;
	margin-right: 9%;
}

.title {
	font-weight: bold;
	font-size: 28pt;
	color: #ffffff;
}

.author {
	color: #ffffff;
	text-decoration: none;
}

.author:hover {
	text-decoration: underline;
	border-radius: 10px;
}

/*#intro {
	margin-left: 10%;
	margin-right: 10%;
}*/

/*#menu {
	margin-left: 11%;
	margin-right: 11%;
}*/

.menu-title {
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.menu-title:hover {
	background: rgba(61, 126, 170, .2);
	border-radius: 10px;
}

.horizontal {
    list-style-type: none;
    /*margin: 10px;
    padding: 10px;*/
    overflow: hidden;
	width: 120%;
}

.horizontal li {
    display: inline-block;
	/*float: left;*/
	width: 20%;
	padding-bottom: 3px;
}

.horizontal a {
	text-align: center;
    display: block;
    padding: 8px;
	/*background-color: #dddddd;*/
	background: linear-gradient(#6699CC 50%, #dddddd 50%);
	border-radius: 10px;
	font-style: italic;
}

.horizontal .lang {
	color: #ffffff;
	font-style: normal;
}

.horizontal a:hover {
    /*background-color: #6699CC;*/
    background: #79a6d2;
}

#footer {
	text-align: center;
}

.pub-list li {
	padding-left: 3em;
    text-indent:-3em;
}

.copyright {
	font-size: 12pt;
}
/*
.hide, .show {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	font-size: 20px;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	text-align: center;
	text-decoration: none;
	box-shadow: 1px 1px 2px #000;
	background: #cccbbb;
	opacity: .95;
	margin-right: 0;
	float: left;
	margin-bottom: 25px;
}

.hide:hover, .show:hover {
	color: #eee;
	text-shadow: 0 0 1px #666;
	text-decoration: none;
	box-shadow: 0 0 4px #222 inset;
	opacity: 1;
	margin-bottom: 25px;
}*/


/*#banner {
		background-attachment: scroll;
		background-color: #494d53;
		background-image: url("images/banner.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #d1d2d4;
		padding: 16em 0;
		position: relative;
		text-align: center;
	}

		#banner:after {
			-moz-transition: opacity 2s ease-in-out;
			-webkit-transition: opacity 2s ease-in-out;
			-o-transition: opacity 2s ease-in-out;
			-ms-transition: opacity 2s ease-in-out;
			transition: opacity 2s ease-in-out;
			background: #3d4045;
			content: '';
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		#banner :last-child {
			margin-bottom: 0;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #ffffff;
		}

		#banner .inner {
			position: relative;
			z-index: 2;
			height: 60vh;
		}

		#banner .button {
			border-color: white !important;
			color: #ffffff !important;
		}

			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#banner .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

		#banner h2 {
			font-size: 3.25em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#banner p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
		}

	body.is-loading #banner:after {
		opacity: 1.0;
	}*/

.tabordion {
	display: block;
	margin: auto;
	position: relative;
	width: 80%;
}

.tabordion input[name="sections"] {
	left: -9999px;
	position: absolute;
	top: -9999px;
}

.tabordion section {
	display: block;
}

.tabordion section label {
	background: #cccccc;
	/*border:1px solid #fff;*/
	cursor: pointer;
	display: block;
	/*font-size: 1.2em;
	font-weight: bold;*/
	padding: 15px 20px;
	position: relative;
	width: 20%;
	z-index:100;
	border-radius: 12px;
	/*margin-top: -5px;*/
	text-align: right;
}

.tabordion section label i {
	float:left; 
	font-size: 2em; 
	margin-top: -3px;
}

.tabordion section article {
	display: none;
	left: 25%;
	min-width: 300px;
	width: 75%;
	padding: 0 0 0 21px;
	position: absolute;  
	top: 0;
	padding-bottom: 2em;
}

.tabordion section article:after {
	background-color: #6699CC;
	bottom: 0;
	content: "";
	display: block;
	left:-6%;
	position: absolute;
	top: 0;
	width: 1.5%;
	z-index:1;
}

.tabordion input[name="sections"]:checked + label { 
	background: #6699CC;
	color: #fff;
}

.tabordion input[name="sections"]:checked ~ article {
	display: block;
}


/*@media (max-width: 533px) {

	h1 {
		width: 100%;
	}

	.tabordion {
		width: 100%;
	}

	.tabordion section label {
		font-size: 1em;
		width: 160px;
	}  

	.tabordion section article {
		left: 200px;
		min-width: 270px;
	} 

	.tabordion section article:after {
		background-color: #ccc;
		bottom: 0;
		content: "";
		display: block;
		left:-199px;
		position: absolute;
		top: 0;
		width: 200px;
	}  

}*/

/*
@media (max-width: 768px) {
	h1 {
		width: 96%;
	}

	.tabordion {
		width: 96%;
	}
}


@media (min-width: 1366px) {
	h1 {
		width: 70%;
	}

	.tabordion {
		width: 70%;
	}
}*/